<!doctype html>
<html>
	<head>
		<style>
			.message-bar {
				font-style: italic;
				font-weight: bolder;
			}
			.oneline {
				display: inline-flex;
				align-items: center;
			}
			.network-input {
				margin-left: 10px;
			}
			.network-ip {
				width: 100px;
			}
			.network-port {
				width: 40px;
			}
			.network .ng-invalid{
				border: 1px solid red;
			}
			input[type="radio"]:not(:checked)+label{ font-weight: lighter; }
		</style>
		<script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
		<script>
			angular.module('OtgSettingsApp', [])
			.controller('SettingsCtrl', ['$scope', function($scope) {
				$scope.foundOTG = false;
				$scope.messageActive = false;
				$scope.message = '';
				$scope.invalidIp = false;
				$scope.network = {};
				$scope.features = {};
				$scope.config = {};
				$scope.timeout;
				
				// Save the network configuration
				$scope.networkSave = function(form) {
					if (form.$valid) {
						console.log('Saving network settings');
						var address = ' ' + $scope.network.ip + ':' + $scope.network.port;
						$scope.message = __('settings.search.title', { addr: address });
						$scope.messageActive = true;
						// Search for OTG
						Homey.api('PUT', '/search/', { 'ip': $scope.network.ip, 'port': $scope.network.port }, function(err, ok) {});
					}
				}
				
				$scope.checkFound = function(found) {
					$scope.foundOTG = found;
					console.log("Found state " + found);
					var address = ' ' + $scope.network.ip + ':' + $scope.network.port;
					if (found) {
						console.log("Setting IP & port");
						Homey.set('network', $scope.network);
						$scope.message = __('settings.search.success', { addr: address });
					} else {
						console.log("Failure :-(");
						$scope.network = {};
						$scope.networkForm.$setPristine();
						$scope.message = __('settings.search.failed', { addr: address });
					}
					$scope.$apply();
				}
				
				// Read the network configuration
				$scope.getNetworkConfig = function() {
					console.log("In getNetworkConfig");
					Homey.get('network', function(err, network) {
						console.log("Getting network settings");
						if (err) { 
							return console.error('Could not get network settings', err);
						}
						$scope.network = network;
						$scope.$apply();
					});
				}
					
				// Save the features
				$scope.featureSave = function() {
					// Store the feature settings
					Homey.set('features', $scope.features);
				};
				
				// Read the configuration setting (features, OTG)
				$scope.getFeatureConfig = function() {
					Homey.get('features', function(err, value) {
						if (value) {
							$scope.features = value;
							$scope.$apply();
						}
					});
				}

				// Actions for back-end triggers
				Homey.on('found_otg', $scope.checkFound);
				Homey.on('config_change', function(value) {
					if (value) {
						$scope.config = value;
						$scope.$apply();
					}
				});

				console.log("Retrieving network config");
				$scope.getNetworkConfig();
				$scope.getFeatureConfig();
				Homey.api('GET', '/getOtgConfig/', {}, function(err, config) {
					if (config) {
						$scope.config = config;
						$scope.$apply();
					}
				});
			}]);
			
			function onHomeyReady(){
				angular.bootstrap(document, ['OtgSettingsApp']);
				Homey.ready();
			}
		</script>
	</head>

	<body ng-controller="SettingsCtrl">
		<fieldset ng-show="messageActive" style="background: #f8f8f8">
			<legend>Message</legend>
			<div class="message-bar">
				{{message}}
			</div>
		</fieldset>
		<div id="application">
			<h1 data-i18n="settings.app.title"></h1>
			<p data-i18n="settings.app.network.description"></p>
			<fieldset>
				<legend data-i18n="settings.app.network.title"></legend>
				<form name="networkForm" class="network" ng-class="{'submitted': submitted}" ng-submit="networkSave(networkForm)" >
					<div class="oneline"><label for="network-ip" data-i18n="settings.app.network.ip"></label><input class="network-input network-ip" ng-model="network.ip" placeholder="0.0.0.0" ng-pattern="/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/" required/></div>
					&nbsp;&nbsp;&nbsp;:
					<div class="oneline"><input class="network-input network-port" ng-model="network.port" placeholder="23" ng-pattern="/^\d+$/" required/></div>
					<p></p>
					<button type="submit" class="btn btn-default" ng-click="submitted=true;" data-i18n="settings.app.network.submit"></button>
				</form>
			</fieldset>
			<p data-i18n="settings.app.features.description"></p>
			<fieldset>
				<legend data-i18n="settings.app.features.title"></legend>
				<form ng-submit="featureSave()">
					<div class="oneline" data-i18n="settings.app.features.set"></div>
					<input type="radio" id="pset-on" value="1" ng-model="features.permanent"><label for="set-on" data-i18n="settings.app.features.seton"></label>
					<input type="radio" id="pset-off" value="0" ng-model="features.permanent"><label for="set-off" data-i18n="settings.app.features.setoff"></label>
					<p></p>
					<div class="oneline" data-i18n="settings.app.features.ventilation"></div>
					<input type="radio" id="vset-on" value="1" ng-model="features.ventilation"><label for="set-on" data-i18n="settings.app.features.venton"></label>
					<input type="radio" id="vset-off" value="0" ng-model="features.ventilation"><label for="set-off" data-i18n="settings.app.features.ventoff"></label>
					<p></p>
					<button type="submit" class="btn btn-default" ng-click="submitted=true;" data-i18n="settings.app.features.submit"></button>
				</form>
			</fieldset>
		</div>
		<p></p>
		<div id="gateway">
			<h1 data-i18n="settings.gateway.title"></h1>
			<fieldset>
				<legend data-i18n="settings.gateway.device.title"></legend>
				<div ng-repeat="item in config">
					{{item.txt}}: {{item.txtVal}}
				</div>
			</fieldset>
		</div>
	</body>
</html>